<div class="text-center">
    <audio id="player" class="player" controls autoplay>
        <source id="song" src="{{ currentTrack }}" type="audio/mpeg" />
    </audio>
    <br><br>
</div>

<form class="play-form" role="form">
    <div class="form-group" ng-repeat="g in genres">
        <label for="{{ g.key }}">{{ g.name }}: {{ g.value }} %</label>
        <input type="range" name="{{ g.key }}" min="0" max="100" step="1" ng-model="g.value">
    </div>

    <div class="form-group">
        <div ng-if="hasNext()">
            <button class="btn btn-primary pull-right" ng-click="next()">
                Nästa
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
        <div ng-if="!hasNext()">
            <a class="btn btn-success pull-right" ng-click="finish()">
                Avsluta
                <span class="glyphicon glyphicon-ok"></span>
            </a>
        </div>
    </div>
</form>
